<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
	"http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en">
<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
	<title>Boinkmarks: Automated Common Lisp implementation benchmarks</title>
        <link rel="stylesheet" type="text/css" href="/css/jquery.modaldialog.css">
        <link rel="stylesheet" type="text/css" href="/css/autobench.css">
	<script src="/javascript/jquery-1.3.2.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascript/autobench.js"></script>
	<script language="javascript" type="text/javascript" src="/javascript/jquery.modaldialog.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.cookies.2.0.1.min.js"></script>
        <script language="javascript" type="text/javascript" src="/javascript/jquery.json-1.3.min.js"></script>
	<script language="javascript" type="text/javascript" src="/javascript/jquery.flot.js"></script>
	<!--[if IE]><script language="javascript" type="text/javascript" src="/javascript/excanvas.min.js"></script><![endif]-->
</head>
<body>
  <h1>Boinkmarks: Automated CL benchmarks</h1>
  <div id="sidebar">
    <div id="sidebar-container">
      <div class="box" id="impl-selector">
        <div class="box-head"><h3>Implementations</h3></div>
        <div class="box-body">
          <form id="impl-selector-form">
          <!-- tmpl_loop implementations -->
            <p>
              <input class="impl" type="checkbox" id="<!-- tmpl_var implspec -->"
                     name="<!-- tmpl_var implspec -->"
                     autocomplete="off"
                     <!-- tmpl_if selected -->
                       checked="checked"
                     <!-- /tmpl_if -->>
              <label for="<!-- tmpl_var implspec -->"
              ><!-- tmpl_var pretty-name --></label>
           </p>
          <!-- /tmpl_loop -->
          </form>
          <script type="text/javascript" defer="defer">
            $("input.impl").change(AB.plot.selectionChanged);
          </script>
        </div>
      </div>
      <div id="zoom-box" class="box">
        <div class="box-head"><h3>Showing release <span id="zoom-release-spec"></span></h3></div>
        <div class="box-body"><button id="zoom-out" onclick="AB.plot.zoomOut();return false;">Zoom out</button></div>
      </div>
      <div id="hidden-benchmarks-box" class="box">
        <div class="box-head"><h3>Hidden benchmarks</h3></div>
        <div class="box-body"><ul id="hidden-benchmarks"></div>
        </ul>
      </div>
    </div>
  </div>
  <div id="graphs">
    <!-- TMPL_LOOP benchmarks -->
    <div id="<!-- tmpl_var benchmark -->" class="graph shown">
      <div class="graph-title">
        <a name="<!-- TMPL_VAR benchmark -->"></a>
        <a href="#<!-- TMPL_VAR benchmark -->">
         <h3><!-- TMPL_VAR benchmark --></h3>
        </a>
      </div>
      <div class="graph-buttons">
        <div>
          <a class="hide" title="Hide benchmark" onclick="AB.userPrefs.hideBenchmark($(this).parent().parent().parent()); return false" href="#">&times;</a>
        </div>
      </div>
      <div class="graph-container">
        <div class="graph-canvas-container" id="<!-- TMPL_VAR id -->"></div>
      </div>
      <script type="text/javascript" defer="defer">
         AB.plot.benchmark_element['<!-- TMPL_VAR benchmark -->'] = $('#<!-- TMPL_VAR id -->');
         AB.plot.element_benchmark['<!-- TMPL_VAR id -->'] = '<!-- TMPL_VAR benchmark -->';
         AB.mouse.initListener($('#<!-- TMPL_VAR id -->'));
      </script>
    </div>
    <!-- /TMPL_LOOP -->
  </div>
<script type="text/javascript" defer="defer">
 AB.userPrefs.init();
 AB.plot.init();
</script>
</body>
</html>
