h1, h2, h3, h4 {
  font-family: 'Trebuchet MS',Verdana,sans-serif;
}

#hovertip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding: 2px;
    background-color: #fee;
    opacity: 0.80;
}

.hidden {
  display: none;
}

/* clicktips: */

#clicktip {
    position: absolute;
    display: none;
    border: 1px solid #fdd;
    padding-top: 2px;
    padding-bottom: 2px;
    background-color: #fee;
    opacity: 0.90;
}

#clicktip h4 {
  margin-top: 0px;
  margin-bottom: 0.3em;
  border-bottom: 1px solid black;
}

#clicktip h4 span.impl {
  margin-right:0.8em;
}

#clicktip h4 span.version {
}

#clicktip ul.links{
  padding-left: 0px;
  width: 100%;
  border-top: 1px solid black;
}

#clicktip ul.links li {
  float:right;
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
  margin-right:0.3em;
}


/* Sidebar+content: */

a {
  color: #483D8B;
}

div#sidebar {
  background-color: #ffffff;
  top: 0px;
  right: 0px;
  left: 300px;
  bottom: 0px;
}

#sidebar-container {
  width: 300px;
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
}

div#sidebar div.box {
  -moz-background-clip:border;
  -moz-background-inline-policy:continuous;
  -moz-background-origin:padding;
  -moz-border-radius-topleft:0.5em;
  -webkit-border-top-left-radius: 0.5em 0.5em;
  margin: 0.01em;
  background-color: #E8E8E8;
  margin-right: 8px;
}

div#sidebar h3 {
  margin: 0px;
  height: 25px;
}

div#sidebar div.box div.box-head {
  margin-top: 5px;
  padding-left: 13px;
}

div#impl-selector {
}

form#impl-selector-form p {
  margin: 0px;
}

div#hidden-benchmarks-box {
  height: 200px;
  padding-left: 0px;
}

div#hidden-benchmarks-box div.box-body {
  overflow-y: auto;
}

ul#hidden-benchmarks {
  height: 175px;
  margin: 0px;
  padding-left: 20px;
}

#hidden-benchmarks a {
  font-family: 'Trebuchet MS',Verdana,sans-serif;
  font-size: small;
}

ul#hidden-benchmarks li {
  list-style-image:none;
  list-style-position:outside;
  list-style-type:none;
}

div#zoom-box {
}

div#graphs {
  
}

/* zoom button visibility */

body.zoomed div#zoom-box {
  display: block;
}

body div#zoom-box {
  display: none;
}

/* Graphs */

div#graphs {
  width: 700px;
}

div.graph-canvas-container {
  height: 300px;
  width: 700px;
}

div.graph-title {
  width: 660px;
}

div.graph-title h3 {
  margin-top: 19px;
  margin-bottom: 0px;
  width: 660px;
}

div.graph-buttons div {
  margin-top: -19px;
  margin-right: 6px;
  width: 20px;
  height: 20px;
  text-align: center;
  float: right;
}

div.graph-buttons a {
  text-decoration: none;
}